:root{
   
    --negro                 : #212125;
    --negro-puro            : #000;
    --blanco                : #cdcdcd;
    --blanco-puro           : #ffffff;
    --blanco-fondo          : #fafafd;
    --negro-header          : #1d1d1f;
    --blanco-msj            : #f3f3f6;
    --gris-description      : #86868b;
    --color-header-purple   : #18181b;
    --color-background      : #0d0e10;
    --color-lateral-menu    : #1f1f23;
    --color-search-menu     : #464649;
    --color-letter-search   : #c7c7c7;
    --color-singup-menu     : #9047fe;
    --color-login-menu      : #3a3a3d;

}
